{% extends 'AdmiScoBundle::standard_layout.html.twig'%}

{% block form %}
    <h1>diplome</h1>

    <table class="table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomdiplome</th>
                <td>{{ entity.nomDiplome }}</td>
            </tr>
        </tbody>
    </table>

       <ul class="nav nav-pills">
    <li>
        <a href="{{ path('diplome') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('diplome_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
